@import views._
@(title:String, currentSection:BackOfficeSections.Value, extraHead: Html=Html(""), extraBottom: Html=Html(""))(content:Html)(implicit flash: Flash)

@internalExtraHead = {
<meta name="robots" content="noindex, nofollow">
  @extraHead
}

@internalExtraBottom={
  <script src="@routes.HomeCtrl.backEndRoutes()?113"></script>
  @extraBottom
}
@logoutButton={
  <form class="form-inline my-2 my-lg-0" action="@routes.UserCtrl.doLogout()" method="POST">
    <button type="submit" class="btn btn-outline-danger"> Logout</button>
  </form>
}
@bsNavbar(title, views.Helpers.backOfficeSections, currentSection, internalExtraHead, internalExtraBottom, Some(logoutButton))(content)