@import views._
@(title:String, sections:Seq[TopSiteSection[_]], currentSection:Object, extraHead: Html=Html(""), extraBottom: Html=Html(""),
        navbarExtras:Option[Html]=None)(content:Html)(implicit request: RequestHeader, msgs:MessagesProvider)

@showSection(mi:TopSiteSection[_], isSelected:Boolean) = {
  @mi match {
    case PageSection(title, id, call) => {
      <li class="nav-item @if(isSelected){active}">
        <a class="nav-link" href="@call">@Messages(title) @if(isSelected){<span class="sr-only">(current)</span>}</a>
      </li>
    }
    case MultiPageSection(title, id, children) => {
      <li class="nav-item dropdown @if(isSelected){active}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          @Messages(title) @if(isSelected){<span class="sr-only">(current)</span>}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          @for( c <- children){
            @c match {
              case SeparatorSectionItem => {<div class="dropdown-divider"></div>}
              case PageSectionItem(title, call ) => {<a class="dropdown-item" href="@call">@Messages(title)</a>}
            }
          }
        </div>
      </li>
    }
  }
}

@bsBase(title, extraHead, extraBottom){
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">@Messages("navbar.title")</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      @for( sec <- sections ){
        @showSection(sec, currentSection==sec.id)
      }
    </ul>
    @for( navBarExt <-navbarExtras ) {
      @navBarExt
    }
  </div>
</nav>
@content
</div>
}