@import views._
@(title:String, sections:Seq[TopSiteSection[_]], currentSection:Object, extraHead: Html=Html(""), extraBottom: Html=Html(""),
        navbarExtras:Option[Html]=None)(content:Html)(implicit request: RequestHeader, msgs:MessagesProvider)

@showSection(mi:TopSiteSection[_], isSelected:Boolean) = {
  @mi match {
    case PageSection(title, id, call) => {
      <li class="nav-item @if(isSelected){active}">
        <a class="nav-link" href="@call" @if(isSelected){aria-current="page"}>@Messages(title) @if(isSelected){<span class="sr-only">(current)</span>}</a>
      </li>
    }
    case MultiPageSection(title, id, children) => {
      <li class="nav-item dropdown @if(isSelected){active}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown@id" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          @Messages(title) @if(isSelected){<span class="sr-only">(current)</span>}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown@id">
          @for( c <- children){
            @c match {
              case SeparatorSectionItem => {<div class="dropdown-divider"></div>}
              case PageSectionItem(title, call ) => {<a class="dropdown-item" href="@call">@Messages(title)</a>}
              case JsSectionItem(title, jsCode) => {<div class="dropdown-item"><button class="btn" style="padding:.25rem 1.5rem;" onclick="@jsCode"> @Messages(title)</button></div>}
            }
          }
        </div>
      </li>
    }
  }
}

@bsBase(title, extraHead, extraBottom){
  <div class="bg-light">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">@Messages("navbar.title")</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            @for( sec <- sections ){
              @showSection(sec, currentSection==sec.id)
            }
          </ul>
          @for( navBarExt <-navbarExtras ) {
            @navBarExt
          }
        </div>
      </nav>
    </div>
  </div>
<div class="container">
@content
</div>
<footer>
  <div class="footer-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <strong><a href="https://github.com/codeworth-gh/PSPS">PSPS</a></strong> - an Opinionated <a href="https://playframework.com">Play</a> application template from <a href="http://codeworth.io">CodeWorth.io</a>
        </div>
      </div>
    </div>
  </div>
</footer>
}