@( prr:PasswordResetRequest, message:Option[String])(implicit request: RequestHeader, msgs:MessagesProvider)

@templates.bsBase("Reset Password"){
  <div class="container">
    <div class="row mt-5">
        <div class="col">
            <h1>Password Reset</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="@routes.UserCtrl.doResetPassword()" method="POST">
              @helper.CSRF.formField
                @for( m <- message ){
                    <div class="form-group has-error">
                        <div class="alert alert-danger">@m</div>
                    </div>
                }
                <div class="form-group">
                    <label for="password1Input" class="control-label">New Password</label>
                    <input type="password" class="form-control" id="password1Input" name="password1" value="" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="password2Input" class="ontrol-label">New Password (again)</label>
                    <input type="password" class="form-control" id="password2Input" name="password2" value="" placeholder="Password">
                </div>

                <div class="form-group">
                    <div class="text-right">
                        <a class="btn btn-default" href="/">Cancel</a>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-send"></i> change</button>
                    </div>
                </div>
                <input type="hidden" value="@prr.uuid" name="uuid" id="uuid">
            </form>

        </div>
    </div>
  </div>
}