@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(users:Seq[User], curUser:User)(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)
@templates.backEndBase("Users", views.BackOfficeSections.Users) {
    @comps.pageTitleRow(Messages("users")){
        <a href="@routes.UserCtrl.showNewUserPage()" class="btn btn-large btn-outline-primary"><i class="fa fa-plus-circle"></i> @Messages("add")</a>
        <a href="@routes.UserCtrl.showInviteUser()" class="btn btn-large btn-outline-secondary"><i class="fa fa-send"></i> @Messages("users.inviteUser")</a>
    }
    <div class="row">
        <div class="col-md-12">
        @if(users.isEmpty) {
            <div class="noData">
                At the moment, the system contains no users.
            </div>
        } else {
          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>@Messages("name")</th>
                        <th>@Messages("username")</th>
                        <th>@Messages("email")</th>
                    </tr>
                </thead>
                <tbody>
                @for( u <- users ) {
                    <tr>
                        <td>
                            @if( u.username == curUser.username ) {<span class="badge bg-success">@Messages("users.me")</span>}
                            @u.name
                            @if( u.username == curUser.username ) {
                                <a class="btn btn-sm btn-outline-secondary" href="@routes.UserCtrl.showEditUserPage(u.username)"><i class="fa fa-edit"></i>
                                    Edit</a>
                            }
                        </td>
                        <td><code>@u.username</code></td>
                        <td>@if((u.email != null) & (u.email.trim.nonEmpty)){
                            <a href="mailto:@u.email">@u.email</a>
                        }</td>
                    </tr>
                }
                </tbody>
            </table>
          </div>
        }
        </div>
    </div>
}

