@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(u:User)(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)

@templates.backEndBase("User Home", views.BackOfficeSections.Home) {
  @comps.pageTitleRow("User Home")()
  <div class="row my-5">
    <div class="col-md-6">
        <h3>Common Actions</h3>
        <a href="@routes.UserCtrl.showEditUserPage(u.username)" class="btn btn-primary btn-block">
            Edit Profile
        </a>
        <a href="@routes.UserCtrl.showInviteUser()" class="btn btn-secondary btn-block">
            Invite User
        </a>
    </div>
  </div>
}