@import be.objectify.deadbolt.scala.AuthenticatedRequest
@(users:Seq[User], curUser:User)(implicit request:AuthenticatedRequest[_], msgs:MessagesProvider)
@templates.backEndBase("Users", views.BackOfficeSections.Users) {
    <div class="row">
        <div class="col-md-12">
            <h1>
                <div class="pull-right">
                    <a href="@routes.UserCtrl.showNewUserPage" class="btn btn-large btn-default"><i class="fa fa-plus-circle"></i> Add</a>
                    <a href="@routes.UserCtrl.showInviteUser" class="btn btn-large btn-default"><i class="fa fa-send"></i> Invite User</a>
                </div>
                Users
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        @if(users.isEmpty) {
            <div class="noData">
                At the moment, the system contains no users.
            </div>
        } else {
          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                @for( u <- users ) {
                    <tr>
                        <td>
                            @u.name
                            @if( u.username == curUser.username ) {
                                <a class="btn btn-sm btn-default" href="@routes.UserCtrl.showEditUserPage(u.username)"><i class="fa fa-edit"></i>
                                    Edit</a>
                            }
                        </td>
                        <td><code>@u.username</code></td>
                        <td>@if((u.email != null) & (u.email.trim.nonEmpty)){
                            <a href="mailto:@u.email">@u.email</a>
                        }</td>
                    </tr>
                }
                </tbody>
            </table>
          </div>
        }
        </div>
    </div>
}

