@import views.BackOfficeSections
@(form:Form[UserFormData], destination:Call, isNew:Boolean, isInvite:Boolean, activeFirst:Boolean=true
 )(implicit request: RequestHeader, msgs:MessagesProvider)

@content = {
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>User Profile Editor</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs justify-content-center">
          <li class="nav-item">
            <a data-toggle="tab" class="nav-link @if(activeFirst){active}" href="#userEditor">Edit User</a>
          </li>
          <li class="nav-item">
            <a data-toggle="tab" class="nav-link @if(isNew){disabled} @if(!activeFirst){active}" href="#changePassword">Change Password</a>
          </li>
        </ul>

        <div class="tab-content my-2">
          <div class="tab-pane @if(activeFirst){active}" id="userEditor">

            <form class="form-horizontal" action="@destination.url" method="POST">
              @if( form.hasGlobalErrors ){
                <ul>
                @for( ge <- form.globalErrors ){
                  <li class="text-danger">@ge.messages.mkString("<br>")</li>
                }
                </ul>
              }
              @if(form("uuid").hasErrors){
                <div class="errors">
                @form("uuid").errors.map(_.message).mkString("<br>")
                </div>
              }
              <div class="form-group row @Helpers.fieldStatus(form("username"))">
                <label for="idInput" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="usernameInput" name="username" value="@form("username").value.getOrElse("")"
                  placeholder="username" @if(!isNew){readonly}>
                  @if(form("username").hasErrors){
                    <div class="errors">
                    @form("username").errors.map(_.message).mkString("<br>")
                    </div>
                  }
                </div>
              </div>

              @if(isNew){
                <div class="form-group row @Helpers.fieldStatus(form("password1"))">
                  <label for="password1Input" class="col-sm-2 control-label">Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password1Input" name="password1" value="@form("password1").value.getOrElse("")"
                    placeholder="Password">
                    @if(form("password1").hasErrors){
                      <div class="errors">
                      @form("password1").errors.map(_.message).mkString("<br>")
                      </div>
                    }
                  </div>
                </div>
                <div class="form-group row @Helpers.fieldStatus(form("password2"))">
                  <label for="password2Input" class="col-sm-2 control-label">Password (again)</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password2Input" name="password2" value="@form("password2").value.getOrElse("")"
                    placeholder="Password">
                    @if(form("password2").hasErrors){
                      <div class="errors">
                      @form("password2").errors.map(_.message).mkString("<br>")
                      </div>
                    }
                  </div>
                </div>
              }

              <div class="form-group row @Helpers.fieldStatus(form("name"))">
                <label for="nameInput" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="nameInput" name="name" value="@form("name").value.getOrElse("")" placeholder="Human name">
                  @if(form("name").hasErrors){
                    <div class="errors">
                    @form("name").errors.map(_.message).mkString("<br>")
                    </div>
                  }
                </div>
              </div>

              <div class="form-group row @Helpers.fieldStatus(form("email"))">
                <label for="emailInput" class="col-sm-2 control-label">Email Address</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="emailInput" name="email" value="@form("email").value.getOrElse("")"
                  placeholder="Email address">
                  @if(form("email").hasErrors){
                    <div class="errors">
                    @form("email").errors.map(_.message).mkString("<br>")
                    </div>
                  }
                  <span class="helper-block">
                    The email address is used for creating new passwords, and sending notifications.
                  </span>
                </div>
              </div>


              <div class="form-group">
                <div class="col-md-12 text-right">
                  <hr>
                  <a href="/" class="btn btn-default">Cancel</a>
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
              <input type="hidden" value="@form("uuid").value.getOrElse("")" name="uuid" id="uuid">
              @helper.CSRF.formField
            </form>
          </div>
          <div class="tab-pane @if(!activeFirst){active} mt-2" id="changePassword">
            <div class="col-md-12 mt-1">
              <form class="form-horizontal" action="@routes.UserCtrl.doChangePassword()" method="POST">
                <div class="form-group row">
                  <label for="password1Input" class="col-sm-2 control-label">Previous Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="previousPassword" name="previousPassword" value=""
                    placeholder="Password">
                    @if(form("previousPassword").hasErrors){
                      <div class="errors">
                      @form("previousPassword").errors.map(_.message).mkString("<br>")
                      </div>
                    }
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password1Input" class="col-sm-2 control-label">New Password</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password1Input" name="password1" value=""
                    placeholder="Password">
                    @if(form("password1").hasErrors){
                      <div class="errors">
                      @form("password1").errors.map(_.message).mkString("<br>")
                      </div>
                    }
                  </div>
                </div>
                <div class="form-group row">
                  <label for="password2Input" class="col-sm-2 control-label">New Password (again)</label>
                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="password2Input" name="password2" value=""
                    placeholder="Password">
                    @if(form("password2").hasErrors){
                      <div class="errors">
                      @form("password2").errors.map(_.message).mkString("<br>")
                      </div>
                    }
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <div class="text-right">
                      <a class="btn btn-default" href="@routes.UserCtrl.userHome()">Cancel</a>
                      <button type="submit" class="btn btn-primary">Change</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if(!isInvite){
    @templates.backEndBase("Profile Editor", BackOfficeSections.Users )(content)
} else {
    @templates.bsBase("New User")(content)
}