html {
  direction: rtl;
}

body {
  direction: rtl;
}

ol, ul {
  padding-right: 1rem;
}

.form-control {
  unicode-bidi: plaintext;
}

.text-ltr{
  direction: ltr;
}

.text-rtl {
  direction: rtl;
}

.rtl-end {
  text-align: left;
}

.rtl-start {
  text-align: right;
}

.ms-auto {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.me-auto {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.text-end {
  text-align: left !important;
}

.text-start {
  text-align: right !important;
}

.dropdown-menu {
  text-align: right;
  left: inherit;
}

.dropdown-menu-leftFix {
  left: 0;
}

$inputGroupBorderRadius: 0.25rem;

.form-check .form-check-input {
  float: right;
  margin-left: 1em;
}

.btn-group.rtl-aware {
  .btn:first-child {
    border-radius: 0 $inputGroupBorderRadius $inputGroupBorderRadius 0;
  }
  .btn:last-child, .btn.dropdown-toggle {
    border-radius: $inputGroupBorderRadius 0 0 $inputGroupBorderRadius;
  }
}

#InformationalsMessageContainer {
  .btnContainer {
    float: left;
  }
  .yesNoMessage {
    text-align: right;
  }
}

.buttonLikeGroup {
  label.buttonLike {
    &:first-of-type {
      border-radius: 0 0.5em 0.5em 0 !important;
    }
    &:last-child {
      border-radius: 0.5em 0 0 0.5em !important;
    }
  }
}

input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-radius: 0 3px 3px 0;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-radius: 3px 0 0 3px;
}