@()(implicit request:RequestHeader, msgs:MessagesProvider)

@head={
  <link rel="stylesheet" href="@routes.Assets.versioned("css/codeHighlight.min.css")">
}

@scripts={
  <script type="text/javascript">
    var loaderIdx=0;
    function loaderDemo() {
        if ( loaderIdx != 0 ) return; // prevent double invocation
        var calls = [
            function(){Informationals.loader("Starting Process");},
            function(){Informationals.loader("This takes time...");},
            function(){Informationals.loader("Almost done");},
            function(){Informationals.loader.dismiss();}
          ];
        loaderIdx=0;
        var nextFrame = function(){
            var func = calls[++loaderIdx];
            if ( func ) {
                func();
                window.setTimeout(nextFrame, 2000);
            } else {
              loaderIdx=0;
            }
        };
        calls[0]();
        window.setTimeout(nextFrame, 2000);
    }

    var bkgInf = [];
    function curBkgInf(){
        return bkgInf[bkgInf.length-1];
    }
    function startBkg() {
        bkgInf.push(Informationals.showBackgroundProcess(document.getElementById("message1").value));
    }
    function updateBkg(){
        if ( bkgInf.length>0 ) {
          curBkgInf().update(document.getElementById("message2").value);
        } else {
            Informationals.makeDanger("No background process element yet",
                    "Please create one by clicking 'showBackgroundProcess'", 2000).show();
        }
    }

    function successBkg(){
        if ( bkgInf.length>0 ) {
          curBkgInf().success();
          bkgInf.pop();
        } else {
            Informationals.makeDanger("No background process element yet",
                    "Please create one by clicking 'showBackgroundProcess'", 2000).show();
        }
    }

    function dismissBkg(){
      if ( bkgInf.length>0 ) {
        curBkgInf().dismiss();
        bkgInf.pop();
      } else {
        Informationals.makeDanger("No background process element yet",
                "Please create one by clicking 'showBackgroundProcess'", 2000).show();
      }
    }

    function makeMake(infoType) {
        var title = document.getElementById("title").value;
        var subtitle = document.getElementById("subtitle").value;
        var timeout = Number(document.getElementById("timeout").value);

        switch (infoType) {
          case "success": Informationals.makeSuccess(title, subtitle, timeout).show(); break;
          case "info":    Informationals.makeInfo(title, subtitle, timeout).show(); break;
          case "warning": Informationals.makeWarning(title, subtitle, timeout).show(); break;
          case "danger":  Informationals.makeDanger(title, subtitle, timeout).show(); break;
          default: Informationals.make(document.getElementById("msgType").value, title, subtitle, timeout).show();
        }
    }

    function showYesNo() {
      var title = document.getElementById("ynTitle").value;
      var subtitle = document.getElementById("ynSubtitle").value;
      var timeout = Number(document.getElementById("ynTimeout").value);
      var type = document.getElementById("ynMsgType").value;
      function callback(res, info){
          info.dismiss();
          Informationals.makeInfo("Result was: " + String(res), "This message will self-destruct in 2 seconds", 3000).show();
      }
      Informationals.makeYesNo(title, subtitle, callback, timeout, type).show();
    }

    $(document).ready(function(){
        var typeMenus = [
            document.getElementById("ynMsgType"),
           document.getElementById("msgType")
        ];
        for ( var tn in Informationals.messageTypes ) {
            for ( var i=0; i<typeMenus.length; i++ ) {
               var opt = document.createElement("option");
               opt.value = Informationals.messageTypes[tn];
               opt.innerText = "Informationals.messageTypes." + tn;
               typeMenus[i].appendChild(opt);
            }
        };
    });
  </script>
}

@templates.bsNavbar("informationals.title", views.Structure.publicItems, views.PublicSections.Components, head, scripts) {
  <div class="row">
    <div class="col">
      <h1>Informationals</h1>
      <p>
        Informationals is a small JS library to show various informational messages. PSPS's <code>bsBase</code> template automatically
        generates informationals from the flash.
      </p>
      <p>
        This page shows examples of using Informationals, both only on the client-side, and using the server.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3><code>Informationals.loader(message)</code></h3>
      <p>
        The <code>loader</code> function blocks the UI with a message. To update the message, call <code>loader(msg)</code>
        again. To unblock the UI, call <code>loader.dismiss()</code>.
      </p>
      <p class="text-center">
        <button class="btn btn-lg btn-primary" onclick="loaderDemo()" type="button">Run Sample</button>
      </p>

      <h4>Sample code</h4>
      <pre class="hl">Informationals<span class="hl opt">.</span><span class="hl kwd">loader</span><span class="hl opt">(</span><span class="hl str">&quot;Starting Process&quot;</span><span class="hl opt">);</span> <span class="hl slc">// blocks the UI with a message</span>
Informationals<span class="hl opt">.</span><span class="hl kwd">loader</span><span class="hl opt">(</span><span class="hl str">&quot;We&apos;re on it...&quot;</span><span class="hl opt">);</span> <span class="hl slc">// updates the message</span>
Informationals<span class="hl opt">.</span>loader<span class="hl opt">.</span><span class="hl kwd">dismiss</span><span class="hl opt">();</span> <span class="hl slc">// unblock ui</span>
      </pre>


      <h3 class="mt-4"><code>Informationals.showBackgroundProcess</code></h3>
      <p>
        A way of showing multiple processes that run in the background without blocking the UI.
        Each message component has it's own controller object for the client code to interact with.
      </p>
      <dl class="codeDefinitions">
        <dt>var inf=Informationals.showBackgroundProcess(msg)</dt>
        <dd>Adds a non-blocking message element to the window. Returns a controller object for the message element.</dd>
        <dt>inf.update(msg)</dt>
        <dd>Updates the displayed message.</dd>
        <dt>inf.success()</dt>
        <dd>Hides the element, after signaling that the task succeeded.</dd>
        <dt>inf.dismiss</dt>
        <dd>Hides the message element.</dd>
      </dl>
      <h4>Sample Code</h4>
      <small class="help">
        The code here uses a stack to manage multiple background tasks. But that's just because we're
        trying to keep the UI simple. The message elements can be updated or dismissed in any order.
      </small>
      <div class="codeLike">
        val bkgProcess = <button onclick="startBkg()">Informationals.showBackgroundProcess</button>(
          <input type="text" id="message1" value="New Process" width="30">);
          <br>
        <button onclick="updateBkg()">bkgProcess.update</button>(
          <input type="text" id="message2" value="Updated message" width="30">);<br>
        <button onclick="successBkg()">bkgProcess.success</button>();<br>
        <button onclick="dismissBkg()">bkgProcess.dismiss</button>();<br>
      </div>

      <h3 class="mt-4"><code>Informationals.makeXXX</code></h3>
      <p>
        Creates non-blocking messages that appear at the top of the page. Can have a timeout for auto-release.
        Message types are based on Bootstraps' contextual classes. Note that the informational object itself is just
        an object - you need to call <code>show()</code> to, well, make it show.
      </p>
      <h4>Sample Code</h4>
      <div class="codeLike">
          var title = <span class="hl str">"<input class="hl str" type="text" id="title" value="Your message here" width="30">"</span>);<br>
          var subtitle = <span class="hl str">"<input class="hl str" type="text" id="subtitle" value="Your message's sub-title here" width="30">"</span>);<br>
          var timeout = <input type="number" step="100" id="timeout" value="" placeholder="timeout (msec)" width="30">);<br>
          var msgType = <span class="hl str">"</span><select id="msgType"></select><span class="hl str">"</span>;<br>
          <button onclick="makeMake()">Informationals.make</button>(msgType, title, subtitle, timeout).show(); <br>
          <button onclick="makeMake('success')">Informationals.makeSuccess</button>(title, subtitle, timeout).show(); <br>
          <button onclick="makeMake('info')">Informationals.makeInfo</button>(title, subtitle, timeout).show(); <br>
          <button onclick="makeMake('warning')">Informationals.makeWarning</button>(title, subtitle, timeout).show(); <br>
          <button onclick="makeMake('danger')">Informationals.makeDanger</button>(title, subtitle, timeout).show(); <br>
      </div>

      <h3 class="mt-4"><code>Informationals.showYesNo</code></h3>
      <p>
        Displays non-modal yes/no message. When the user clicks any of the buttons, the client code is made
        aware of this through a callback. There's an optional type field, matching the semantics of Bootstrap's contextual classes.
      </p>
      <p>
        The callback function gets two parameters:
      </p>
      <dl class="codeDefinitions">
        <dt>res</dt>
        <dd>What the user chose. One of <code>true/false/undefined</code> (the latter happens if the prompt timed out).</dd>
        <dt>info</dt>
        <dd>The the message element. Call <code>info.dismiss()</code> to hide it.</dd>
      </dl>
      <h4>Sample Code</h4>
      <div class="codeLike">
          var title = <span class="hl str">"<input class="hl str" type="text" id="ynTitle" value="Your message here" width="30">"</span>);<br>
          var subtitle = <span class="hl str">"<input class="hl str" type="text" id="ynSubtitle" value="Your message's sub-title here" width="30">"</span>);<br>
          var timeout = <input type="number" id="ynTimeout" value="" placeholder="timeout (msec)" width="30">);<br>
          var msgType = <span class="hl str">"</span><select id="ynMsgType"></select><span class="hl str">"</span><br>
          var callback = function(res, info){...};<br>
          <button onclick="showYesNo()">Informationals.makeYesNo</button>(title, subtitle, timeout, msgType).show();
      </div>

      <h3 class="mt-4">
        Utilities
      </h3>
      <ul>
        <li>Message types are available as constants in <code>Informationals.messageTypes.</code></li>
        <li>
          To invoke an informational message from a PlayFramework controller, encode it in the flash under the
          <code>controllers.FlashKeys.MESSAGE</code>, key, like so:

            <pre class="hl"><code>
val message = Informational(InformationalLevel.Success,title, subtitle)
Redirect(routes.UserCtrl.userHome()).<strong>flashing(FlashKeys.MESSAGE->message.encoded)</strong>
            </code></pre>
            Note: Currently, only a single message is supported.
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4">&nbsp;</div>
  </div>
}